iframe {
    width: 100%;
}

.contacts {
    display: flex;
    flex-direction: column;



    .contacts-label {
        h1 {
            color: green;
            padding: 0.5em;
            padding-bottom: 0;
        }
        
        hr {
            width: 150px;
            height: 6px;
            margin: 1em auto;
            background-color: red;
        }
    }
    
    
    .contacts-list {
        width: 100%;
        margin: 0 auto;
        padding: 2em;
        padding-bottom: 5em;
        display: flex;
        justify-content: space-between;

        @include bp(tablet) {
            flex-direction: column;
        }
    
        li {
            display: flex;
            align-items: center;
            padding-left: 2em;
            padding-right: 2em;
            
            span {
                font-size: 1.1em;
                color: green;
                padding-left: .6em;
            }
        }
    
        list-style-type: none;
    
        .icon {
            display: inline-block;
            width: 1em;
            height: 1em;
            stroke-width: 0;
            stroke: currentColor;
            fill: currentColor;
        }
    
        .icon-library {
            font-size: 2em;
            width: 1.5em;
            color: green;
        }
    
        .icon-envelop {
            font-size: 2em;
            width: 1.5em;
            color: green;
        }
    
        .icon-mobile {
            font-size: 2em;
            width: 1.5em;
            color: green;
        }
    }
}



