.site-footer {
    background-color: white;
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;

    p,
    a {
        font-weight: bold;
        opacity: 0.6;
        transition: opacity 0.3s ease-in;
        color: green;
    }

    li:hover > a,
    .current-page > a,
    a:focus,
    a:hover {
        background: green;
    }

    p {
        padding: 0.5em;

        &:first-child {
            font-size: 1.6em;
        }
    }

    &:hover p,
    &:hover a {
        opacity: 1;
    }
}