.site-footer {
    background-color: #B0E57C;
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;

    p,
    a {
        font-weight: bold;
        opacity: 0.4;
        transition: opacity 0.3s ease-in;
    }

    a {
        color: white;
    }

    li:hover > a,
    .current-page > a,
    a:focus,
    a:hover {
        background: grey;
        color: white;
    }

    p {
        color: white;
        &:first-child {
            font-size: 1.6em;
        }
    }

    &:hover p,
    &:hover a {
        opacity: 1;
    }
}