.index {
    display: flex;
    background-color: white;
    color: green;
    font-size: 1.2em;
    p,
    th,
    td {
        font-weight: bold;
    }
}

.index-media {
    background-image: url('https://www.pleven.bg/uploads/posts/_mg_5579.jpg');
    background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
    flex-basis: 40%;
    width: 100%;
    min-height: 60vh;
}

.index-info {
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
    padding: 1em;

    .info-main,
    .info-price {
        display: flex;
        flex-basis: 50%;
        align-items: center;

        h3 {
            flex-basis: 30%;
            margin: 0.5em;
            border-bottom: 5px solid red;
        }

        p,
        table {
            flex-basis: 70%;
        }

        p, 
        td,
        th {
            padding-right: 1em;
        }
    }
}